@import "../../assets/styles/colors.scss";
.Modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0.8, 0.8, 0.8, 0.5);
  }

  &_content {
    background-color: $white;
    z-index: 9;
    padding: 30px;
    border-radius: 20px;
    &_title {
      margin-bottom: 30px;
    }
    &_inpt {
      margin-bottom: 20px;
    }
    button {
      margin-right: 10px;
    }
  }
}
